body {
    color: #FFFACD;
    font-family: cursive;
    font-size: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f392ee;
    animation: bg-color 10s infinite;
    -webkit-animation: bg-color 10s infinite;
  }

  @keyframes bg-color {
    0% { background-color: #e998db; }
    20% { background-color: #b6f0d0; }
    40% { background-color: #fcdabe; }
    60% { background-color: #aff2f5; }
    80% { background-color: #ecc4fc; }
    100% { background-color: #f3aaba; }
  }
#he{
    border-radius: 15px;
}
main {
    float: left;
}
ul {
    display: flex;
    margin: 20px;
    background-color: rgba(228, 141, 202, 0.548);
    border-radius: 15px;
    text-align: center;
}
@media screen and (max-width: 500px){
  ul{
    display: list-item;
    list-style: none;
  }
}
li {
    list-style: none;
    width: 110px;
    padding: 24px;
    display: block;
    color: rgba(179, 18, 93, 0.918);
    text-align: center;
}
h2 {
    text-align: center;
    
}
#pro {
    display: flex;
    float: left;
}
@media screen and (max-width: 500px){
#menu {
    width: 800px;
    height: 600px;
    border-radius: 15px;
    margin-left: 250px;
    margin-top: 30px;
    opacity: 0.8;
}
#menu{
    width: 300px;
    height: 300px;
    margin: auto;
}
}
div.warap {margin-left: 70px;}
aside#sideber {
    float: left;
    width: 50%;
}
aside#sideberr {
    float: left;
    
}
#submit-btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: #d16cd1;
    border: none;
    border-radius: 15px;
    color: white;
    margin: 20px auto;
    cursor: pointer;
  }

  @import url(https://fonts.googleapis.com/css?family=Raleway:900);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

body{
    background : #CCCCCC;
}
* {
  font-family : Raleway;
}
.fein a{
    font-family: 'Slabo 27px', serif;
  text-decoration : none;
  color : black;
}
.wip{
  font-family: 'Slabo 27px', serif;
  font-size : 2.4em;
  text-align : center;
  letter-spacing : -3px;
}

.button {
  margin : 0 auto;
  margin-top : 10px;
  width : 200px;
  height : 50px;
  background : #af53a7;
  overflow : hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius : 5px;
}
.hover {
  position : relative;
  border : 2px solid white;
  width : 200px;
  height : 200px;
  margin-top: -100px;
  background : #e585bd;
  left : -250px;
  transition : .3s;
  transform : rotate(20deg);
  opacity : .8;
}
.clic {
  color : white;
  transition : .3s;
}
.button:hover .hover{
  left: -145px;
}
.button:hover .clic{
  margin-left : 80px;
}
.sure {
  margin-top : 37px;
  margin-right : -135px;
  color : white;
  transform : rotate(-20deg);
}
.button:active {
  box-shadow: 2px 2px 1px #888888;
}
.contact-form {
    width: 70%;
    margin: 60px auto;
    padding: 50px;
    background-color: #bddeebab;
    color: #333;
    border-radius: 15px;
    display: none;
  }
.form-item {
    padding: 20px 0 10px 0;
    font-weight: bold;
  } 
input[type="submit"] {
    margin-top: 30px;
    width: 30%;
    border: 1px solid #a35cb8;
    border-radius: 15px;
    padding: 12px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    font-size: 14px;
    line-height: 1.428571429;
    color: white;
    background-color: #a95cb8;
  }
textarea {
    width: 90%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 6px 12px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
  }
table{
  display: flex;
}
@media screen and (max-width: 500px){
  table,tr,td{
    display: block;
  }
}
img#pro {
    width: 400px;
    height: 300px;
    margin: 20px 15px 15px 80px;
    border: 8px solid rgb(228, 186, 186);
    border-radius: 15px;
    float: left;
}
@media screen and (min-width: 500px){
img#pro{
    width: 300px;
    height: 300px;
    margin: auto;
}
}
img#staff{
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 20px;
    border: 8px solid rgb(228, 186, 186);
    border-radius: 15px;
}
iframe {
    display: none;
    border-radius: 15px;
    margin-top: 15px;
}
#coment {display: none;color: rgb(247, 76, 181);}
#home_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #722ecc;
  opacity: 0.6;
  border-radius: 50%;
}
#home_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;

}
#home_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f118';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
div#home_top {
  margin-bottom: 100px;
  margin-right: 20px;
}
#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #a20eaf;
    opacity: 0.6;
    border-radius: 50%;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
  
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f0a6';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
  div#page_top {
    margin-bottom: 20px;
    margin-right: 20px;
}

footer {
    margin-top: auto;
    text-align: center;
}
footer ul {
    margin: 25px;
}
footer li {
    padding: 5px 5px 5px 80px;
}
small {color: mediumvioletred;}
